.cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 972px) {
    .cardWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 657px) {
    .cardWrapper {
        grid-template-columns: 1fr;
    }
}