.successWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}